@charset "utf-8";
/* CSS Document */




/************ part1 *************/
.partonelf{ width:966px;}
.partonert{ width:200px;}

/*********** 首页分类列表 *************/
.part1{ width:1176px;}


.partcate{ height:410px;}
.ptoimgbox{ width:756px;}
.img756{ position:relative;}
.img756,.img756 img{ width:756px; height:270px;}
.img756 ul{ width:756px; position:relative;}
.img756 ul li{ width:756px; height:270px; position:absolute; top:0; left:0;}
.img756 .bnpage{ position:absolute; height:13px; left:46%; bottom:10px; width:120px;}
.img756 .bnpage a{ display:block; width:12px; height:12px; float:left; margin-right:5px; background:url(../images/bg_bnpage.png) -38px 0 no-repeat; _background:none; _background:#000;}
.img756 .bnpage a:hover,.img756 .bnpage a.oncur{ background:url(../images/bg_bnpage.png) -58px 0 no-repeat; _background:none; _background:#c80000;}

.img250{ height:129px; border:1px solid #dcdcdc; border-top:0; border-right:0;}
.img250 a{ width:250px; height:129px; display:block; border-right:1px solid #dcdcdc; float:left;}
.img250 a.last{ width:252px;}

.ptoscan{ border-top:1px solid #dcdcdc; background:#f8f8f8; height:106px; padding-top:13px; color:#1e1e1e; font-size:14px; font-weight:700; line-height:34px;}
.ptotype a{ width:200px; height:40px; display:block; line-height:40px; font-size:16px; font-family:"微软雅黑"; color:#fff; background:#c80000; margin-top:10px;}
.ptotype a.bg0{ background:#253686;}
.imgh71{ width:71px; margin-left:14px; _display:inline;}
.imgh71 img{ width:71px; height:71px;}
.imgphone{ margin-right:10px; width:78px; _display:inline;}
.imgphone img{ width:71px; height:71px;}
.imgphone a{  display:block;}

.imgbox180,.imgbox181{ background:#f8f8f8; padding:13px 10px 0 10px; _padding:15px 10px 0 10px; height:277px; position:relative; width:180px; overflow:hidden; }
.imgbox180 .imglists,.imgbox181 .imglists{ width:180px; height:265px; overflow:hidden; position:relative;}
.imgbox180 .imglists ul,.imgbox181 .imglists ul{ width:2000px; position:absolute; left:0; top:0;}
.imgbox180 .imglists ul li,.imgbox181 .imglists ul li{ float:left; width:180px; height:265px;}
.imgbox180 .imglists ul li img,.imgbox181 .imglists ul li img{ width:180px; height:265px;}
.imgbox181{  border-top:1px solid #dcdcdc;}
.imgbox180 .imgpage,.imgbox181 .imgpage{ position:absolute; width:180px; height:19px; top:243px; left:10px;}
.imgbox180 img,.imgbox181 img{ width:180px; height:265px;}
.imgpage a{ width:10px; height:19px; display:block; background:url(../images/bg_imgpage.png) no-repeat; _background:url(../images/bg_imgpage.gif) no-repeat;}
.imgpage a.p_up{ background-position:0 0;}
.imgpage a.p_next{ background-position:0 -40px;}
.imgpage a.p_up:hover{ background-position:0 -20px;}
.imgpage a.p_next:hover{ background-position:0 -60px;}


/************ 品牌专栏 *************/
.brandtitle{ border-bottom:1px solid #323232; padding:0 0 8px 10px;}
.brandtitle .in_title{ width:190px; display:block;}
.brimgbox{ width:747px; padding-right:9px;}
.brshop{ width:200px;}
.brshop ul li{ width:200px; height:195px; margin-top:10px; position:relative;}
.brshop ul li.first{ margin-top:0;}
.brshop ul li span{ position:absolute; background:#1e1e1e; opacity: 0.7; filter: alpha(opacity=70); height:40px; line-height:40px; width:200px; display:block; top:155px; left:0; color:#fff; font-size:18px; font-family:"微软雅黑"; font-weight:700;}

.brimglist{ width:708px; height:240px; padding-left:7px; position:relative; overflow:hidden;}
.brimglist ul{ top:0; left:7px; height:240px; width:708px; position:absolute;}
.imgbox117 ul li{ float:left; height:80px; width:118px; overflow:hidden;}
.imgbox117 ul li img{ width:118px; height:80px;}
.brimgbox a.p_up1,.brimgbox a.p_next1{ background:url(../images/bg_imgpage1.png) no-repeat; display:block; width:13px; height:25px;}
.brimgbox a.p_up1:hover,.brimgbox a.p_next1:hover{ background:url(../images/bg_imgpage1.png) no-repeat;}
.brimgbox a.p_next1{ background-position:0 -52px;}
.brimgbox a.p_up1:hover{ background-position:0 -26px;}
.brimgbox a.p_next1:hover{ background-position:0 -78px;}
.mt63{ margin-top:63px;}
.mt108{ margin-top:108px;}

.imgbox228{ margin-top:9px; *margin-top:10px;}
.imgbox228 .imglist228{ width:705px; height:151px; padding-left:8px; position:relative; overflow:hidden;}
.imgbox228 .imglist228 ul{ top:0; left:8px; width:705px; position:absolute;}
.imgbox228 .imglist228 ul li{ float:left; height:151px; width:228px; margin-right:10px;}
.imgbox228 .imglist228 ui li img{ width:228px; height:151px;}
.imgbox228 .imglist228 ul li.last{ width:229px; margin-right:0;}
.imgbox228 .imglist228 ui li.last img{ width:229px;}





/*************** 2014.9.2 新版APP最新发布 ****************/
.appnew{ width:180px; height:36px;}
.appnew a{ background:url(../images/bg_appnew.png) no-repeat; width:180px; height:36px; display:block; color:#1e1e00; line-height:36px; text-indent:15px;}
.appnew a:hover{ background-position:0 -41px;}


/***** 弹出窗口右下角 *******/
.e12d2d_bg{ background-color:#e12d2d;}
.add_tcright{width:322px; height:322px;}
.pclose{ height:18px;}
.pclose a{ padding:6px 7px 0 0;width:12px; height:12px; background:url(../images/close.png) 0px 7px no-repeat;}
.add_tcright .item_title{ height:70px; background:url(../images/item_title.png) 18px 0 no-repeat; padding-left:18px; margin-top:23px;}
.pdown{ padding:22px 0 0 18px;}
.pdown .down_left{width:160px; height:139px; background:url(../images/small.png) 0 0 no-repeat;}
.pdown .down_left a{width:160px; height:65px; float:left;}
.mb9{ margin-bottom:9px;}
.pdown .down_right{ width:121px; padding-left:9px;}
.pdown .down_right .drimg{ width:105px; height:105px; padding:8px; background:#fff;}
.pdown .down_right .drimg img{ width:105px; height:105px;}
.pclose1{ padding-left:19px;text-align:left; padding-top:9px; color:#fff;}
.pclose1 input{width:15px; height:15px; vertical-align:middle;}
.pclose1 label{vertical-align:middle; padding-top:2px;}

/***** 弹出窗口大图 *******/

.add_tcbig{width:706px; height:500px; padding-left:470px; background:url(../images/tc_bg.png) 60px 18px no-repeat #e12d2d;}
.item_title2{ margin:60px 0 58px; height:99px; background:url(../images/item_title2.png) 13px 0 no-repeat;}
.big_left{width:312px; height:152px; padding-left:17px; background:url(../images/big.png) 17px 0 no-repeat;}
.big_left a{ float:left;width:312px; height:65px;}
.big_right{width:151px; padding-left:118px;}
.big_right .brimg{ width:131px; height:131px; padding:10px; background:#fff;}
.big_right .brimg img{width:131px; height:131px;}
.mb22{ margin-bottom:22px;}
.pdown .down_right span,.big_right span{width:121px; text-align:center; font-family:"微软雅黑"; font-size:14px; line-height:30px; color:#000; display:block;}

/***************2013.12.20元旦活动***************/
.topimgbox a{ width:1176px; display:block; margin:0 auto;}
.nyimgbox{ position:relative; overflow:hidden;}
.nyimg_01,.nyimg_02{ position:absolute; top:0; left:0; width:100%;}
.nyimg_01 a.nyi01,.nyimg_02 a{ width:1176px; display:block; margin:0 auto;}
.nyibox{ width:1176px; position:relative;}
.nyibox a.icon_repeat{ background:url(../images/icon_repeat.gif) no-repeat; width:52px; height:21px; display:block; position:absolute; top:0; right:-52px;}

/****************2015.3.9修改**********************/
.bodynew{ background-color:#f2f2f2;}

/******2015.3.10修改*****/
.fp-category-menu{ height:480px; position:relative;}
.fp-category-menu .category-menu-content{ height:480px; position:absolute; width:100%; left:0; top:0; z-index:165;}
.category-menu-box{width:100%;}
.category-ad,.category-ad img{width:784px;}

.category-menu-pannel { position:relative; height:480px; overflow:hidden; width:100%;}
.fp-module-box .lnpage{ position:absolute; height:26px; left:0; bottom:20px;  width:100%; text-align:center; z-index:169;}
.fp-module-box .lnpage a{*margin-right:1px !important;}
.fp-module-box .lnpage a{ display:inline-block; width:90px; height:26px; margin-right:-5px;  color:#fff; line-height:26px; position:relative; font-family:'微软雅黑';}
.fp-module-box .lnpage a .hoverbg{background-color:#1e1e1e;filter:alpha(opacity=40); -moz-opacity:0.4; opacity:0.4; display:block; width:90px; height:26px; position:absolute; left:0; top:0; z-index:1;}
.fp-module-box .lnpage a .hovertext{ position:absolute; left:0; top:0; z-index:2; display:block; width:100%;}
.fp-module-box .lnpage a:hover .hoverbg,.fp-module-box .lnpage a.oncur .hoverbg{filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;}
.category-menu-pannel .menubox{ position:absolute; left:0; top:0; width:100%; height:480px;}

.part-brand{width:1176px;}
.part-brand .brand-bar{ padding:20px 0 10px 0; text-align:center; width:100%;}
.part-brand .brand-content .bcl,.part-brand .brand-content .bcl img{width:196px; height:392px;}
.part-brand .brand-content .bcc{ margin-left:5px; width:774px; background-color:#fff;position:relative;}
.part-brand .brand-content .bcc .bccBox{ width:774px; position:relative; overflow:hidden;}
.part-brand .brand-content .bcc .bccBox .bccBox-ul{ position:relative;}
.bcc .bccBox .bccBox-ul .bccBox-li{width:774px; float:left;}

.brand-content .bcc .bcc-l-r{width:100%; height:20px; position:absolute; top:-30px; right:0px; text-align:right;}
.brand-content .bcc .bcc-l-r a{width:20px;height:20px; display:inline-block; background-color:#000; position:absolute; top:0; right:0; background:url(../images/icon-left.png) no-repeat 0 0;}
.brand-content .bcc .bcc-l-r a.bccLeft{ right:19px; background-position:0 0;}
.brand-content .bcc .bcc-l-r a:hover.bccLeft{ right:19px; background-position:0 -30px;}
.brand-content .bcc .bcc-l-r a.bccRight{ background-position:0 -60px;}
.brand-content .bcc .bcc-l-r a:hover.bccRight{ background-position:0 -90px;}

.brand-content .bcc .bcc-t{border-top:2px solid #fff; height:184px;}
.brand-content .bcc .bcc-t li{ float:left; width:129px; text-align:center; height:70px; padding-top:22px;}
.brand-content .bcc .bcc-t li img{width:90px; height:60px;}
.brand-content .bcc .bcc-b{ padding-top:10px;}
.brand-content .bcc .bcc-b .bcc-b-img{ position:relative; width:255px;}
.brand-content .bcc .bcc-b .bcc-b-info{width:235px; height:59px; position:absolute; left:10px; bottom:10px; background-color:#fff; z-index:50;}
.brand-content .bcc .bcc-b .bcc-b-info .logo{ margin-left:25px; margin-top:4px;}
.brand-content .bcc .bcc-b .bcc-b-info .info{ line-height:59px; font-size:14px; width:134px; text-align:center;}
.brand-content .bcc .bcc-b .mr5{ padding-right:5px;}
.brand-content .bcr{width:196px; height:392px;}
.brand-content .bcr .bcr-tem{width:130px; height:178px; padding:17px 33px 0 33px; background-color:#fff;}
.brand-content .bcr .bcr-tem.mt1{ margin-top:1px;}
.brand-content .bcr .bcr-tem .img{width:130px; height:130px;}
.brand-content .bcr .bcr-tem .img .headbg{ background:url(../images/headbg.png) no-repeat 0 0; display:block; position:absolute; left:0; top:0; width:130px; height:130px;}
.brand-content .bcr .bcr-tem .img a{ position:relative;}
.brand-content .bcr .bcr-tem .img a,.brand-content .bcr .bcr-tem .img img{width:130px; height:130px; display:block;}
.brand-content .bcr .bcr-tem .info{ padding-top:18px;}




.laile a{width:20px; height:20px; background-color:#000; display:inline-block; margin-right:10px;}
.laile a:hover{ background-color:#900;}


/*** 2016.3.4 检索功能下拉列表样式 ***/
.lgbar-box{position:relative;z-index:180;}
.mssearchBox{position:relative;}
.search-popupmenu{position:absolute;width:420px;top:39px;border:1px solid #e4e4e4;background-color:#fff;}
.search-popupmenu li{line-height:26px;height:26px;text-align:left;}
.search-popupmenu li a{display:block;width:400px;padding:0 10px;color:#333;}
.search-popupmenu li a b{color:#000;}
.search-popupmenu li.oncur a,.search-popupmenu li:hover a{background-color:#f0f0f0;}

.fp-category-menu .fp-module-box .fp-catelistbox{padding-top:0px;}