<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{if $title}><{$title}>-<{/if}><{if $tgid>0}><{if $shopName}><{$shopName|htmlspecialchars}>商城<{else}><$tgUserName>商城<{/if}><{else}><{$siteurl.joe.title}><{/if}></title>
<link href="<{$siteurl.joe.url}>/ui/default/css/common.css" type="text/css" rel="stylesheet" />
<link href="<{$siteurl.joe.url}>/ui/default/css/index.css" type="text/css" rel="stylesheet" />
<!--[if lte IE 6]>
    <style type="text/css">
      img,.lgbarbox a.smlogo img,.lgtitle0 img,.fp-catelists li,.catelistboxr-top a,.category-menu-pannel .bnpage a,.navbar .navbg,.closebox a,.brand-content .bcr .bcr-tem .img .headbg,.img71 .erpopup,.he_icon1,.he_icon2,.he_icon3,.he_icon4{_behavior:url("ui/default/ie6/iepngfix.htc")}
    </style>
    <script type="text/javascript" src="ui/default/ie6/iepngfix_tilebg.js"></script>
<![endif]-->
<script language="javascript" type="text/javascript" src="<{$siteurl.joe.url}>/ui/default/js/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="<{$siteurl.joe.url}>/ui/default/js/toolbarnav.js"></script>
<script language="javascript" type="text/javascript" src="<{$siteurl.joe.url}>/ui/default/js/indexnew.js"></script>
</head>
<body class="bodynew tos">